<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
<item
    android:title="FC Barcelona"
    android:id="@+id/fcb"/>
    <item
        android:title="Paris Saint German"
        android:id="@+id/psg"/>
    <item
        android:title="Manchester City"
        android:id="@+id/mfc"/>

</menu>
